.deactive_input {
    border: 1px solid #ccc;
    padding: 9px;
    border-radius: 4px;
    margin-top: 27px;
    background-color: #eaeaea;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 23px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}

.loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
}

@keyframes l23 {
    100% {
        transform: rotate(1turn)
    }
}

.cargo-note {
    font-size: 15px;
    font-weight: bold;
    color: #66f;
}

.show_modal_form_exists_div_btn {
    /*border: 3px solid #b1b1b1;*/
    /*border-radius:14px;*/
    padding: 32px;
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.show_modal_form_exists_div_btn button {
    background-color: #b1b1b1 !important;
    color: white;
    margin: 0 10px;
}

#show_modal_form_exists .modal-footer {
    padding-bottom: 35px !important;
}

#show_modal_form_exists .modal-header {
    padding: 10px !important;
}

.circle_alert {
    text-align: center;
    width: 20px;
    height: 20px;
    background: red;
    display: block;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 10px;
    top: 10px
}

.text-right{
    text-align: right;
}

.w-40{
    width: 40%;
}


.ml5 {
    margin-left: 5px !important;
}

.checkbox-wrapper-6 .tgl {
    display: none;
}

.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl + .tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-6 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.checkbox-wrapper-6 .tgl + .tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-6 .tgl + .tgl-btn:before {
    display: none;
}

.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn {
    background: #000000;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}

.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
    background: #9FD6AE;
}
